<!-- 
// Citation for the following file:
// Date: 11/7/2023
// Adapted from OSU CS340 NodeJS Starter App
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<!-- Defines the layout and style for web pages-->

<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8">
    <title>Faeru Adventures</title>
    <style>
        body {
            background-color: rgb(135, 173, 255);
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
        h1, h2{
        margin-left: auto;
        margin-right:auto;
        width: 50%;
        text-align: center;
        padding: 10px;
        color:darkred;
        }
        #home-title{
            color:blue;
            padding: 40px;
        }
        table {
            align-content: center;
            border-style: solid;
            border-color: black;
            margin-left: auto;
            margin-right: auto;
            text-align: center
            vertical-align: auto;
        }
        td, tr {
            size: 40px;
            padding: 8px;
            background-color: antiquewhite;
            text-align: center;
        }

        td, th {
            border: solid #ddd;
            color: rgb(31, 63, 63);
        }

        th {
            padding: 12px;
            text-align: center;
            background-color: #05583a;
            color: white;
        }

        form, button {
            color: rgb(28, 32, 28);
            padding-top: 5px;
            padding-bottom: 5px;
            position: relative;
            size: 30px;
        }
        input, select {
            size:30px;
        }
        a {
            display: block;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
        p {
            position: relative;
            margin: 10px;
            padding: 20px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
        footer {
            position: relative;
            margin: auto;
            padding: 20px;
            top: 50px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
        ul {
            list-style-type: none;
            display: inline-block;
            margin: 0px;
            padding: 0px;
            width: 60%;
            text-align: center;
            overflow: auto;
        }
        li {
            padding: 10px;
            float: left;
            width: 16%;
        }
        .center-img {
            display: block;
            margin-left: auto;
            margin-right: auto;            
        }
        .center-text {
            margin: auto;
            text-align: center;
        }
    legend{
        size 150px;
    }


    fieldset{
        margin-left: auto;
        margin-right:auto;
        width: 50%;
        border: solid black 2px;
        padding: 50px;
        text-align:center;
        vertical-align: auto;
        color:darkred;
    }

    </style>
</head>
<header>
    <div class="center-text">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/characters">Characters</a></li>
            <li><a href="/actions">Actions</a></li>
            <li><a href="/events">Skill Checks</a></li>
            <li><a href="/event-details">Skill Checks Details</a></li>
            <li><a href="/items">Inventory</a></li>
            <li><a href="/races">Races</a></li>
            <li><a href="/classes">Classes</a></li>
            <li><a href="/difficulties">Event Difficulties</a></li>
            <li><a href="/item-types">Item Types</a></li>
    </div>
</header>
<body>
    {{{body}}}
</body>
<footer>
    <div class="center-text">&#169 2023 Kevin Parsons and Jonathan Reuter</div>
</footer>

</html>