<!-- main.hbs-->

<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8">
    <title>Faeru Adventures</title>
    <style>
        h1{
            color:blue;
        }
        h2{
            color:brown;
        }
        table{
            align-content: center;
            border-style: solid;
            border-color: black;
        }
        td{
            border-style: solid;
            border-color: black;
            padding: 10px;
        }
        tr{
            border-bottom: solid black;
            border-left: solid black;
            border-right: solid black;
            padding: 10px;
        }
        th{
            border-bottom: solid black;
            border-right: solid black;
            border-right: solid black;
            padding: 10px;
            background-color: gold; 
        }

        input{
            padding: 5px;
        }
        footer{
            position: relative;
            top: 150px;
        }
    </style>
</head>
<body>
    {{{body}}}
</body>
<footer>
<p>Select a Link Below</p>
<a href="/">Home</a>
<a href="/characters">Character Table</a>
<a href="/actions">Actions Table</a>
<a href="/events">Skill Check Events</a>
</footer>
</html>