<!-- 
// Citation for the following file:
// Date: 11/7/2023
// Adapted from OSU CS340 NodeJS Starter App
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<!--
// Citation for the CSS to rotate an image using keyframes
// Date: 11/16/2023
// Adapted from Stack Overflow Post - How can I rotate an image for a specific time and then stopping it slowly
// Source URL: https://stackoverflow.com/questions/55458757/how-can-i-rotate-an-image-for-a-specific-time-and-then-stopping-it-slowly
-->

<!--
// Citation for navbar style
// Date: 11/16/2023
// Adapated from W3 Schools - How TO - Top Navigation
// Soure URL: https://www.w3schools.com/howto/howto_js_topnav.asp


// Citation for Font Family
//Date: 11/20/2023
// Font Family ttf obtained from fontrepo.com
//Source URL: https://www.fontrepo.com/font/360/adventure-request
-->

<!-- Defines the layout and style for web pages-->

<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8">
    <title>Faeru Adventures</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
</head>
<header class="center-text">
    <div class="topnav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/characters">Characters</a></li>
            <li><a href="/actions">Actions</a></li>
            <li><a href="/events">Skill Checks</a></li>
            <li><a href="/event-details">Skill Checks Details</a></li>
            <li><a href="/items">Inventory</a></li>
            <li><a href="/races">Races</a></li>
            <li><a href="/classes">Classes</a></li>
            <li><a href="/difficulties">Event Difficulties</a></li>
            <li><a href="/item-types">Item Types</a></li>
    </div>
</header>
<body>
    {{{body}}}
</body>
<footer>
    <div class="center-text">&#169 2023 Kevin Parsons and Jonathan Reuter</div>
</footer>

</html>