<!-- 
// Citation for the following file:
// Date: 11/7/2023
// Adapted from OSU CS340 NodeJS Starter App
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<!--
// Citation for the CSS to rotate an image using keyframes
// Date: 11/16/2023
// Adapted from Stack Overflow Post - How can I rotate an image for a specific time and then stopping it slowly
// Source URL: https://stackoverflow.com/questions/55458757/how-can-i-rotate-an-image-for-a-specific-time-and-then-stopping-it-slowly
-->

<!--
// Citation for navbar style
// Date: 11/16/2023
// Adapated from W3 Schools - How TO - Top Navigation
// Soure URL: https://www.w3schools.com/howto/howto_js_topnav.asp


// Citation for Font Family
//Date: 11/20/2023
// Font Family ttf obtained from fontrepo.com
//Source URL: https://www.fontrepo.com/font/360/adventure-request
-->

<!-- Defines the layout and style for web pages-->

<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8">
    <title>Faeru Adventures</title>
    

    
    <style>
        @font-face {
            font-family: importFont;
            src: url('/img/adventure-request.ttf');
        }

        body {
            background-color: rgb(135, 173, 255);
            font-family: importFont;
            display: inline-block;
            margin: auto 10%;
            width: 80%;
        }
        h1, h2{
        margin-left: auto;
        margin-right:auto;
        width: 50%;
        text-align: center;
        padding: 10px;
        color:darkred;
        }
        #home-title{
            color:blue;
            padding: 40px;
        }
        table {
            align-content: center;
            border-style: solid;
            border-color: black;
            margin-left: auto;
            margin-right: auto;
            text-align: center
            vertical-align: auto;
        }
        td, tr {
            size: 40px;
            padding: 8px;
            background-color: antiquewhite;
            text-align: center;
        }

        td, th {
            border: solid #ddd;
            color: rgb(31, 63, 63);
        }

        th {
            padding: 12px;
            text-align: center;
            background-color: #05583a;
            color: white;
        }
        button:hover{
            background-color: rgb(247, 247, 247);
        }

        form, button {
            color: rgb(28, 32, 28);
            padding-top: 5px;
            padding-bottom: 5px;
            position: relative;
            size: 30px;
        }
        input, select {
            size:30px;
            font-family: importFont;
        }
        a {
            display: inline-block;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
        p {
            position: relative;
            margin: 10px;
            padding: 20px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
        footer {
            position: relative;
            margin: auto;
            padding: 20px;
            top: 50px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
        ul {
            list-style-type: none;
            display: inline-block;
            margin: 0px;
            padding: 0px;
            width: 100%;
            text-align: center;
            overflow: auto;
        }
        li {
            padding: 10px;
            float: left;
            width: 16%;
        }
        .center-img {
            background: none;
            border: none;
            cursor: pointer;
            display: block;
            margin-left: auto;
            margin-right: auto;            
        }
        .center-img:focus {
            background: none;
            outline: none;
        }
        .center-img:active {
            background: none;
            outline: none;
        }
        .center-img:hover {
            background: none;
        }
        .rotate-img {
            animation: rotate-animation 0.5s ease-out forwards;
        }
        @keyframes rotate-animation {
            from {transform: rotate(0deg);}
            to {transform: rotate(360deg);}
        }
        .center-text {
            margin: auto;
            text-align: center;
        }
        .topnav {
            background-color: #05583a;
            overflow: hidden;
            padding: 0px;
            margin: 0px;
            margin: auto;
            display: inline-block;
        }
        .topnav a {
            color: white;
            float: center;
            text-align: center;
            padding: 10px;
            text-decoration: none;
            font-size: 16px;
        }
        .topnav a:hover {
            color: black;
            background-color: white;
        }
    legend{
        size 150px;
    }
    fieldset{
        margin-left: auto;
        margin-right:auto;
        width: 60%;
        border: solid black 2px;
        padding: 50px;
        
        vertical-align: auto;
        color:darkred;
    }

    </style>
</head>
<header class="center-text">
    <div class="topnav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/characters">Characters</a></li>
            <li><a href="/actions">Actions</a></li>
            <li><a href="/events">Skill Checks</a></li>
            <li><a href="/event-details">Skill Checks Details</a></li>
            <li><a href="/items">Inventory</a></li>
            <li><a href="/races">Races</a></li>
            <li><a href="/classes">Classes</a></li>
            <li><a href="/difficulties">Event Difficulties</a></li>
            <li><a href="/item-types">Item Types</a></li>
    </div>
</header>
<body>
    {{{body}}}
</body>
<footer>
    <div class="center-text">&#169 2023 Kevin Parsons and Jonathan Reuter</div>
</footer>

</html>