/* Citations for styling applications

// Citation for Font Families
//Date: 11/20/2023
// Font Family ttfs obtained from fontrepo.com
//Source URL: https://www.fontrepo.com/font/360/adventure-request
//Source URL: https://www.fontrepo.com/fonts/adventure-subtitles/



// Citation for Bootstrap Layout Design:
// Date: 12/4/2023
// Bootstrap utility for layout design/styling obtained from https://getbootstrap.com
// Source URL: https://getbootstrap.com/docs/5.3/getting-started/introduction/

*/

/* imported font styles */
@font-face {
    font-family: importFont;
    src: url('/css/adventure-request.ttf');
}

@font-face {
    font-family: contentFont;
    src: url('/css/adventure-subtitles.ttf');
}

body {
    background-color: rgb(135, 173, 255);
    font-family: importFont;
    display: inline-block;
    margin: auto 10%;
    width: 80%;
    letter-spacing: 1px;
}

 /* styling for headings */
h1, h2{
    text-align: center;
    padding: 10px;
    color:darkred;
}

h3{
    text-align: center;
    padding: 2px;
    color:rgb(42, 1, 1);
}
#home-title{
    color:blue;
    padding: 40px;
}

/* styling for table elements */
table {
    align-content: center;
    border-style: solid;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: auto;
}
    
td {
    size: 40px;
    padding: 8px;
    
    text-align: center;
    font-family: contentFont;
    letter-spacing: 1px;
}

td,tr {
    border: solid #a1a0a0;
    color: rgb(31, 63, 63);
    letter-spacing: 1px;
    background: rgb(255, 255, 255);
}

th {
    padding: 12px;
    text-align: center;
    background-color: #05583a;
    color: white;
    border: solid #a1a0a0;
}

 /* form styling */
.add-form{
    display: none;
}

form {
    color: rgb(28, 32, 28);
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    size: 30px;
}

/* styling for controlling size of different types of input elements according to content */
.extended{
    width: 315px;
}

.length{
    width: 220px;
}

.numbered{
    width:42px;
}

button:hover{
    background-color: rgb(247, 247, 247);
}

input, select {
    padding-bottom: 4px;
    font-family: contentFont;
}

 /* styling for repeating body elements */
a {
    display: inline-block;
    font-family:importFont;
    letter-spacing: 1px;
}

p {
    position: relative;
    margin: 10px;
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

fieldset{
    margin-left: auto;
    margin-right:auto;
    width: 80%;
    border: solid black;
    vertical-align: auto;
    color:darkred;
}

footer {
    padding: 20px;
    top: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

 /* styling for navigation bar */
ul {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
    overflow: auto;
}

li {
    padding: 10px;
    float: left;
}

.center-text {
    text-align: center;
}

.topnav {
    background-color: #05583a;
    overflow: hidden;
    display: inline-block;
}

.topnav a {
    color: white;
    float: center;
    /* text-align: center; */
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
}

.topnav a:hover {
    color: black;
    background-color: white;
}

/* styling for D20 dice homepage image */
.center-img {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;            
}

.center-img:focus {
    background: none;
    outline: none;
}

.center-img:active {
    background: none;
    outline: none;
}

.center-img:hover {
    background: none;
}

.rotate-img {
    animation: rotate-animation 0.5s ease-out forwards;
}

@keyframes rotate-animation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}