@font-face {
    font-family: importFont;
    src: url('/css/adventure-request.ttf');
}

@font-face {
    font-family: contentFont;
    src: url('/css/adventure-subtitles.ttf');
}

body {
    background-color: rgb(135, 173, 255);
    font-family: importFont;
    display: inline-block;
    margin: auto 10%;
    width: 80%;
    letter-spacing: 1px;
}

h1, h2{
margin-left: auto;
margin-right:auto;
width: 50%;
text-align: center;
padding: 10px;
color:darkred;
}

h3{
    margin-left: auto;
    margin-right:auto;
    width: 50%;
    text-align: center;
    padding: 2px;
    color:rgb(42, 1, 1);
}
#home-title{
    color:blue;
    padding: 40px;
}

table {
    align-content: center;
    border-style: solid;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: auto;
}
    
td, tr {
    size: 40px;
    padding: 8px;
    background-color: antiquewhite;
    text-align: center;
    font-family: contentFont;
    letter-spacing: 1px;
}

td, th {
    border: solid #ddd;
    color: rgb(31, 63, 63);
    letter-spacing: 1px;
}

th {
    padding: 12px;
    text-align: center;
    background-color: #05583a;
    color: white;
}
button:hover{
    background-color: rgb(247, 247, 247);
}

form, button {
    color: rgb(28, 32, 28);
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    size: 30px;
}
.extended{
    width: 315px;

}

.length{
    width: 220px;
}

.numbered{
    width:39px;
}

input, select {
    size:30px;
    font-family: contentFont;
    letter-spacing: 1px;
}
a {
    display: inline-block;
    font-family:importFont;
    letter-spacing: 1px;
}
p {
    position: relative;
    margin: 10px;
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
footer {
    position: relative;
    margin: auto;
    padding: 20px;
    top: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
    overflow: auto;
}
li {
    padding: 10px;
    float: left;
    width: 16%;
}
.center-img {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;            
}
.center-img:focus {
    background: none;
    outline: none;
}
.center-img:active {
    background: none;
    outline: none;
}
.center-img:hover {
    background: none;
}
.rotate-img {
    animation: rotate-animation 0.5s ease-out forwards;
}
@keyframes rotate-animation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.center-text {
    margin: auto;
    text-align: center;
}
.topnav {
    background-color: #05583a;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    margin: auto;
    display: inline-block;
}
.topnav a {
    color: white;
    float: center;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
}
.topnav a:hover {
    color: black;
    background-color: white;
}

legend{
size: 150px;
}

fieldset{
margin-left: auto;
margin-right:auto;
width: 80%;
border: solid black 2px;
padding: 50px;
vertical-align: auto;
color:darkred;
}
