<!--  
Citation for the AJAX/app.js/express-handlebars design:
// Date: 11/7/2023
// Adapted from OSU CS340 NodeJS Starter App
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app

Citation for Icons:
//Date: 11/20/2023
// Icons for Submit, Delete, and Edit buttons were provided from svgrepo.com
// Source URL for Edit Icons: https://www.svgrepo.com/svg/511904/edit-1479
//Source URL for Submit Icons:https://www.svgrepo.com/svg/494419/submit-success-check-mark
//Soruce Url for Delete Icons: https://www.svgrepo.com/svg/499905/delete

Citation for Font Families
//Date: 11/20/2023
// Font Family ttfs obtained from fontrepo.com
//Source URL: https://www.fontrepo.com/font/360/adventure-request
//Source URL: https://www.fontrepo.com/fonts/adventure-subtitles/

Citation for Bootstrap:
// Date: 12/4/2023
// Bootstrap utility for layout design/styling obtained from https://getbootstrap.com
// Source URL: https://getbootstrap.com/docs/5.3/getting-started/introduction/
-->

<!-- Show Actions table -->
<h1>Available Actions Table</h1>
<table id="actions-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    
    <tbody>
        {{#each data}}
        <tr data-value={{this.ID}}>
            <td>{{this.ID}}</td>
            <td>{{this.Name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!---Button for Toggling Display of Add Form to user -->
<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button id="show-action-btn" type="button" class="btn btn-default" onclick="displayForm()">Add Action</button>
        </div>
    </div>
</div>

<!-- Add row to Actions table -->
<div class="container">
    <form class="add-form" id="add-action-form">
        <fieldset class="form-group border p-3">
            <legend class="float-none w-auto">Add A New Action</legend>
                    <div class="row text-center">
                        <div class="col-6">
                            <input type="text" class="form-control" name="input-action-name" id="input-action-name" placeholder="Enter Action" required>
                        </div>
                        
                        <div class="col-3">
                            <label for="add-action-btn" class="form-label"></label>
                            <button type="submit" class="btn btn-primary" id="add-action-btn">Add Action</button>
                        </div>
                    </div>
        </fieldset>
    </form>
</div>
<script src="./js/add_action.js"></script>
