<!-- 
// Citation for the following file:
// Date: 11/7/2023
// Adapted from OSU CS340 NodeJS Starter App
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<!-- Show Actions table -->
<h1>Available Actions Table</h1>
<table id="actions-table">.
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    
    <tbody>
        {{#each data}}
        <tr data-value={{this.ID}}>
            <td>{{this.ID}}</td>
            <td>{{this.Name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Add row to Actions table -->
<h2>Add A New Character Action</h2>
<form id="add-action-form">
    <fieldset>
        <label for="input-action-name">New Action: </label>
        <input type="text" name="input-action-name" id="input-action-name" placeholder="Enter Action">

        <!-- Disable add Action -->
        <input type="submit">
    </fieldset>
</form>

<script src="./js/add_action.js"></script>
