<!-- Defines the body of the Home web page -->

<h1 id="home-title" class="center-text">Welcome to Faeru Adventures!</h1>
<img src="./img/d20_558_640.png" alt="D20 Dice" width="279" height="320" class="center-img">
<p class="center-text">It's time to roll the dice!</p>

