<!-- 
// Citation for the following file:
// Date: 11/7/2023
// Adapted from OSU CS340 NodeJS Starter App
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app

// Citation for Font Family
//Date: 11/20/2023
// Font Family ttf obtained from fontrepo.com
//Source URL: https://www.fontrepo.com/font/360/adventure-request
-->

<!-- Show Item Types table -->
<h1>Item Types Table</h1>
<table id="item-types-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    
    <tbody>
        {{#each data}}
        <tr data-value={{this.ID}}>
            <td>{{this.ID}}</td>
            <td>{{this.Name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button id="show-item-types-btn" type="button" class="btn btn-default" onclick="displayForm()">Add Item Type</button>
        </div>
    </div>
</div>

<!-- Add row to Item Types table -->
<div class="container">
    <form id="add-item-type-form">
        <fieldset class="form-group border p-3">
            <legend class="float-none w-auto">Add New Item Type</legend>
            <div class="row">
                <div class="col-6">
                    {{!-- <label for="input-type-name" class="form-label">New Item Type: </label> --}}
                    <input type="text" class="form-control" name="input-type-name" id="input-type-name" placeholder="Enter Item Type" required>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary" id="add-item-type-btn">Add Item Type</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script src="./js/add_item_type.js"></script>